@model ProgettoFed.Models.Notum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTask" />

            <div class="form-group" hidden>
                <label asp-for="DataCreazione" class="control-label"></label>
                <input asp-for="DataCreazione" class="form-control" />
                <span asp-validation-for="DataCreazione" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdTask" class="control-label"></label>
                <input asp-for="IdTask" class="form-control" />
                <span asp-validation-for="IdTask" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdUtente" class="control-label"></label>
                <input asp-for="IdUtente" class="form-control" />
                <span asp-validation-for="IdUtente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataScadenza" class="control-label"></label>
                <input asp-for="DataScadenza" class="form-control" />
                <span asp-validation-for="DataScadenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitoloTask" class="control-label"></label>
                <input asp-for="TitoloTask" class="form-control" />
                <span asp-validation-for="TitoloTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestoTask" class="control-label"></label>
                <input asp-for="TestoTask" class="form-control" />
                <span asp-validation-for="TestoTask" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Flag" /> @Html.DisplayNameFor(model => model.Flag)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
