@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto. Fai il login nella pagina Utenti</h1>

</div>


<a asp-action="Paginazione" asp-controller="Notums" asp-route-id="">Paginazione a scorrimento</a> <br/> <br/>
@{
    float pagina0 = 0;
}
<a asp-action="Grouping" asp-controller="Notums" asp-route-paginacliccata="@pagina0">Gruppi di N pagine</a>
